* {
  /*border: 1px solid black;*/
}

.metronome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 30px;
}

.instruments-container-container {
  border: 2px solid black;
}

.instrument-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border: 1px solid black;
}

.instrument-container {
  display: flex;
  flex-direction: row;
}

.beat {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.active-beat {
  background-color: #C94D46;
}

.quarter-note-left-border {
  border-left-width: 2px;
}

.bpm-slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.bpm-number {
  text-align: center;
  margin: 30px;
  font-size: 25px;
}

.bpm-slider input {
  margin: 20px;
}

.metronome button {
  background: #C94D46;
  padding: 10px;
  border: 1px solid #832420;
  border-radius: 2px;
  width: 100px;
  color: #fff;
  font-size: 18px;
  outline: none;
  margin: 10px;
}
