<div class="metronome">
  <div class="accents-container">
    <div [ngClass]="activeBeats[0] ? 'activeBeat' : 'inactiveBeat'" (click)="toggleBeat(0)"></div>
    <div [ngClass]="activeBeats[1] ? 'activeBeat' : 'inactiveBeat'" (click)="toggleBeat(1)"></div>
    <div [ngClass]="activeBeats[2] ? 'activeBeat' : 'inactiveBeat'" (click)="toggleBeat(2)"></div>
    <div [ngClass]="activeBeats[3] ? 'activeBeat' : 'inactiveBeat'" (click)="toggleBeat(3)"></div>
  </div>
  <div class="bpm-slider-container">
    <div class="bpm-number">{{bpm}} BPM</div>
    <input type="range"
           min="40"
           max="220"
           #ref
           (input)="updateBpm(ref.value)"
           [(ngModel)]="bpm" />
  </div>
  <button (click)="toggle()">{{playing ? 'Stop' : 'Start'}}</button>
</div>
