<div class="metronome">
  <div class="flashers-container">
    <div [ngClass]="isFlashing[0] ? 'flashing' : 'not-flashing'" (click)="setAccent(1)"></div>
    <div [ngClass]="isFlashing[1] ? 'flashing' : 'not-flashing'" (click)="setAccent(2)"></div>
    <div [ngClass]="isFlashing[2] ? 'flashing' : 'not-flashing'" (click)="setAccent(3)"></div>
    <div [ngClass]="isFlashing[3] ? 'flashing' : 'not-flashing'" (click)="setAccent(4)"></div>
  </div>
  <div class="bpm-slider-container">
    <div class="bpm-number">{{bpm}} BPM</div>
    <input type="range"
           min="40"
           max="220"
           #ref
           (input)="updateBpm(ref.value)"
           [(ngModel)]="bpm" />
  </div>
  <button (click)="toggle()">{{playing ? 'Stop' : 'Start'}}</button>
</div>
