<div class="metronome">
  <div class="instruments-container-container" *ngFor="let instrument of instruments">
    <div class="instrument-name">
      {{instrument}}
    </div>
    <div class="instrument-container">
      <div *ngFor="let beat of beatLocations[instrument]; let i = index"
           [ngClass]="beat ? 'activeBeat' : 'inactiveBeat'"
           (click)="toggleBeat(instrument, i)">
      </div>
    </div>
  </div>
  <div class="bpm-slider-container">
    <div class="bpm-number">{{bpm}} BPM</div>
    <input type="range"
           min="40"
           max="220"
           #ref
           (input)="updateBpm(ref.value)"
           [(ngModel)]="bpm" />
  </div>
  <button (click)="toggle()">{{playing ? 'Stop' : 'Start'}}</button>
</div>
