.controls-container {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.bpm-number-and-slider-container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.bpm-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border-right: 3px solid black;
}

input[type=range] {
  width: 800px;
  padding-right: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  background: #66ccff;
  padding: 10px;
  border-radius: 2px;
  width: 100px;
  color: #fff;
  font-size: 18px;
  outline: none;
  margin: 10px;
}
