<div class="controls-container">
  <div class="bpm-number-and-slider-container">
    <div class="bpm-number">{{bpm}} bpm</div>
    <div class="range-container">
      <input type="range"
             min="40"
             max="220"
             [(ngModel)]="bpm"
             (mouseup)="updateBpmEvent.emit(bpm)" />
    </div>
  </div>
  <div class="buttons-container">
    <div class="left-buttons-container">
      <button (click)="togglePlayEvent.emit($event)">{{playing ? 'stop' : 'start'}}</button>
      <button (click)="randomizeLoopEvent.emit()" style="border-left: none">random</button>
    </div>
    <div class="right-buttons-container">
      <button (click)="resetEvent.emit()">reset</button>
      <button (click)="clearEvent.emit()" style="border-left: none">clear</button>
    </div>
  </div>
</div>
