<div class="controls-container">
  <div class="bpm-number-and-slider-container">
    <div class="bpm-number">{{bpm}} bpm</div>
    <div class="range-container">
      <input type="range"
             min="40"
             max="220"
             [(ngModel)]="bpm"
             (mouseup)="updateBpmEvent.emit(bpm)" />
    </div>
  </div>
  <div class="buttons-container">
    <button (click)="togglePlayEvent.emit($event)">{{playing ? 'stop' : 'start'}}</button>
    <button (click)="clearEvent.emit()">clear</button>
  </div>
</div>
