<div class="master-container">
  <div class="app-name">
    glooper
  </div>
  <app-staff
    [bpm]="bpm"
    [playing]="playing"
    [beatForTransport] = "beatForTransport"
    [beatLocations]="beatLocations"
    (updateLoopRangeEvent) = "updateLoopRange($event)"
    [loopRange]="loopRange"
    [instruments]="instruments">
  </app-staff>
  <app-controls
    [bpm]="bpm"
    [playing]="playing"
    (updateBpmEvent) = "updateBpm($event)"
    (togglePlayEvent)="togglePlay($event)"
    (randomizeLoopEvent)="randomizeLoop()"
    (resetEvent)="reset()"
    (clearEvent)="clear()">
  </app-controls>
</div>
