.instruments-container-container {
  border: 2px solid black;
}

.transport {
  width: 0;
  z-index: 100;
  border-left: 2px solid red;
  margin-bottom: -208px;
  margin-left: 100px;
}

@keyframes move {
  100% {
     transform: translateX(840px);
  }
}

.instrument-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border: 1px solid black;
}

.instrument-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.beat {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.active-beat {
  background-color: #66ccff;
}

.quarter-note-left-border {
  border-left-width: 2px;
}
