.instruments-container-container {
  border: 2px solid black;
}

.instrument-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border: 1px solid black;
}

.instrument-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.beat {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.active-beat {
  background-color: #66ccff;
}

.transport {
  background-color: #ffff00;
}

.transport-plus-active-beat {
  background-color: #afe182;
}

.quarter-note-left-border {
  border-left-width: 2px;
}
