<div class="instruments-container-container">
  <div class="instrument-container" *ngFor="let instrument of instruments">
    <div class="instrument-name">
      {{instrument}}
    </div>
    <div *ngFor="let beat of beatLocations[instrument]; let i = index"
         [ngClass]="{'beat': true,
                     'active-beat': beat,
                     'transport': playing && (i + 1) === currentBeat,
                     'transport-plus-active-beat': playing && beat && (i + 1) === currentBeat,
                     'quarter-note-left-border': i % 4 === 0}"
         (click)="toggleBeat(instrument, i)">
    </div>
  </div>
</div>
