@import "~nouislider/distribute/nouislider.min.css";

nouislider {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.noUi-base {
  box-shadow: none;
  border-radius: 0;
}

/*.noUi-origin {
  width: 50px;
  box-shadow: none;
  border-radius: 0;
}*/

.noUi-target {
  height: 47px !important;
  background: none;
  border: none;
  box-shadow: none;
}

.noUi-connect {
  background-color: yellow;
}

.noUi-handle {
  outline: none;
  background-color: yellow;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

/*.noUi-handle .noUi-handle-lower {
  border-left: 2px solid black !important;
  border-right: none;
}

.noUi-handle .noUi-handle-upper {
  border-right: 2px solid black !important;
  border-left: none;
}*/

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

.noUi-horizontal .noUi-handle {
  box-sizing: border-box;
  height: 47px;
  width: 50px;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -47px;
  top: -1px;
}

.noUi-handle .noUi-handle-upper {
  right: -30px;
  top: -1px;
}

* {
  /*border: 1px solid black;*/
}

body {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
