@import "~nouislider/distribute/nouislider.min.css";

* {
  /*border: 1px solid black;*/
}

body {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nouislider {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.noUi-target {
  border: none;
  background: none;
  margin: 0;
  height: 47px;
  background: none;
}

/*This class is added to the element you call  .noUiSlider() on.
Has border, background and other styling properties to establish
the slider design and background.*/

.noUi-base {

}

/*The slider bar. Serves as the calculating point for the slider handles,
and has no visible styling.*/


.noUi-origin {
  top: 6px;
  left: -15px !important;
}

/*The elements connected to the base, defining the handle locations.*/

.noUi-handle {
  outline: none;
  box-shadow: none;
  background: red;
  border: none;
  border-radius: 0;
  height: 47px !important;
  width: 4px !important;
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

/*The actual, visible handles. Style these any way you like!*/

.noUi-connect {
  background: yellow;
  border: none;
}

/*Styling class for setting properties related to the slider connect segment.*/
